
a {
	@include transition(all 0.15s ease-in);
	color: $red;

  &:hover {
    color: darken($red, 10%);
  }
}

.btn {
  @include font-size(24px);
  display: block;
  padding: 0.75em 1.25em;
  background: $red;
  color: #fff;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include bp-min-width($large) {
    display: inline-block;
  }

  &:hover {
    color: #fff;
    background: darken($red, 10%);
  }

  &.small {
    @include font-size(20px);
  }
}
