
$serif: "ff-spinoza-web-pro", Georgia, serif;

$reg:  400;
$bold: 700;

$base: 24px;

body {
  
  color: $black;
  font: $reg 1em/1.5em $serif;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
  font-weight: $bold;
}

h1 {
  @include font-size(48px);

  @include bp-min-width($small) {
    @include font-size(72px);
  }
  
  @include bp-min-width($large) {
    @include font-size(122px);
  }
}

h2 {
  @include font-size(32px);
  margin-bottom: 0.25em;

  @include bp-min-width($large) {
    @include font-size(50px);
  }
}

h3 {
  @include font-size(20px);
  margin-bottom: 0.25em;

  @include bp-min-width($large) {
    @include font-size(24px);
  }
}

p {
  @include font-size(20px);
  margin-bottom: 1em;

  @include bp-min-width($large) {
    @include font-size(24px);
  }
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

.label {
  font-weight: $bold;
}

.body p,
.body ul,
.body ol {
  margin-bottom: $base;

  &:last-child, &.label {
    margin-bottom: 0;
  }
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}
