
.main {
  text-align: center;
  
  iframe {
    margin-bottom: 1em;
    max-width: 720px;

    @include bp-min-width($small) {
      margin-bottom: 1em;  
    }
  }
}

.album-links {
  margin-bottom: 2em;
}

.show {
  max-width: 500px;
  margin: 0 auto;
}

.show p {
  margin-bottom: 1em;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

